body {
  background-color: #1a1a1a;
  min-height: 100vh;
}


.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;

  button {
    margin-left: 2rem;
    background-color: #2e2e2e;
    color: #dddddd;
    border: 2px solid #cccccc;
    border-radius: 5px;
    transition: all .2s ease-out;
    padding: .2rem .6rem;

    &:hover {
      background-color: #3a3a3a;
      color: #ffffff;
      border-color: #ffffff;
    }
  }

}

.trash {
  color: white;
  border: 1px solid #dddddd;
  width: 90px;
  text-align: center;
  padding: .5rem;
  border-radius: 10px;
  position: absolute;
  transition: all 0.2s ease-out;
  left: 50%;
  margin-left: -45px;
  opacity: 0;

  &.active {
    background-color: #777;
  }

}

.todo-list {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;

  .todo-category {

    .drag-handle {
      margin-right: .2rem;
      font-size: 1.5rem;
    }

    .category-header {
      color: #ddbf95;
      border: none;
      border-radius: 0;
      border-bottom: solid 2px #d0d0d0;
      width: 88%;
    }

    .todo {
      display: flex;
      align-items: center;
      margin: 1rem 0 1rem 2rem;

      &.todo-is-completed {
        .checkbox {
          color: #000;
          background: #fff;
        }

        input {
          text-decoration: line-through;
        }
      }

      .checkbox {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin-right: 10px;
        cursor: pointer;
        font-size: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color .3s ease-in-out;
        border: 1px solid #fff;

        &:hover {
          background: rgba(255, 255, 255, 0.25);
          border: 1px solid rgba(255, 255, 255, 0);
        }
      }

      input {
        width: 80%;
      }

      .close {
        position: relative;
        margin-left: .7rem;
        border-radius: 50%;
        border-style: solid;
        font-size: .8rem;
        line-height: 20px;
        background-color: #2a2a2a;
        color: #dddddd;
        cursor: pointer;
        transition: all 0.2s ease-out;

        &:hover {
          background-color: #1a1a1a;
          color: #aaaaaa;
          border-color: #888888;
        }
      }

    }
  }
}
