ul {
  list-style: none;
  padding-left: 0;
  line-height: 2rem;
  width: 500px;
}

input {
  border: 2px solid #808080;
  border-radius: 10px;
  padding: .2rem .5rem;
  background: transparent;
  color: white;
  font-size: 1.4rem;
  outline: none;
  width: 100%;
}